body {
    margin: 0;
    padding: 0;
    font-family: Titillium Web;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: scroll;
    text-align: center;
    background-color: black;
    color: white;
}

/* Styles for header and Nav Bar */
.header-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 10px;
}

.nav-container-logo {
    flex: 0.33;
    text-emphasis: 10px;
}

.nav-selector-container {
    flex: 1;
    display: inline-flex;
    justify-content: center;
}

.nav-selector {
    flex: 1;
}

.nav-selector > a {
    text-decoration: none;
    color: white;
}

.nav-selector > a:hover{
    opacity: 0.5;
    transition: 0.2s;
}

.nav-selector:visited {
    text-decoration: none;
}

/* Styles for all pages */
.main-container {
    
}
.page {
    align-items: center;
    flex-direction: column;
}

/* Styles for home page */
.home-container {
    display: none;
    min-height: 80vh;
    justify-content: center;
}

.home-container > h1 {
    font-size: 70px;
}

/* Styles for about page */
.about-container {
    display: none;
}

.about-content {
    display: flex;
    flex-direction: column;
}

.about-header{
    padding-bottom: 20px;
}

.about-carousel-container{

}

.about-carousel{
    display: flex;
    overflow: hidden;
    height: 50vh;
    width: 50vh;
}

.about-carousel-slide {
    min-width: 100%;
    box-sizing: border-box;
    justify-content: center;
}

.about-carousel-btn {
    margin: 20px;
    background-color: black;
    color: white;
    cursor: pointer;
    
}

/* Styles for eboard page */
.eboard-container {
    display: none;
    min-height: 100vh;
}

.eboard-officer-pic{
    width: 100%;
    height: auto;
}

.eboard-header{
    padding: 30px;
    text-align: left;
}

.eboard-header > h1{
    text-align: center;
    font-size: 60px;
}

.eboard-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.eboard-grid-item {
    padding: 20px;
}

/* EBoard grid when viewed on smartphone */
@media (max-width: 768px) {
    .eboard-grid {
        display: flex;
        flex-direction: column;
    }
}

/* Styles for event page */
.events-container {
    display: none;
    min-height: 100vh;
}

/* Styles for join page */
.join-container {
    display: none;
    min-height: 100vh;
}

/* Styles for footer */
.footer-container {
    min-height: 20vh;
    display: flex;
    flex-direction: row;
    align-items:center;
}

.footer-text{
    flex: 0.5;
    text-align: left;
    margin-left: 100px;
}

.footer-links {
    flex: 0.5;
}

.footer-links > div {
    display: inline-block;
    margin: 20px;
}

/* Footer container styles for smartphones */
@media (max-width: 768px) {
    .footer-container{
        flex-direction: column;
    }

    .footer-text {
        margin-left: 0px;
        text-align: center;
    }
}