body {
    margin: 0;
    padding: 0;
    font-family: Titillium Web;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: scroll;
    text-align: center;
    background-color: black;
    color: white;
}

/* Styles for header and Nav Bar */
.header-container {
    
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nav-container-logo {
    flex: 0.25;
}

.nav-container-logo > img {
    height: auto;
    max-width: 100px;
    padding-left: 20px;
    padding-top: 10px;
}

@media (max-width: 768px) {
    .nav-container-logo > img{
        max-width: 50px;
    }
}

.nav-selector-container {
    flex: 1;
    display: inline-flex;
    justify-content: center;
}

.nav-selector {
    flex: 1;
}

.nav-selector > a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}

.nav-selector > a:hover{
    opacity: 0.5;
    transition: 0.2s;
}

.nav-selector:visited {
    text-decoration: none;
}

/* Styles for all pages */
.main-container {
    
}
.page {
    align-items: center;
    flex-direction: column;
}

/* Styles for home page */
.home-container {
    display: none;
    min-height: 65vh;
    justify-content: center;
}

.home-container > h1 {
    font-size: 70px;
}

/* Styles for about page */
.about-container {
    display: none;
    min-height: 80vh;
}

.about-content {
    display: flex;
    flex-direction: column;
}

.about-header{
    padding-bottom: 20px;
}
.about-subheader{
    width: 80%;
}
.about-carousel-container{
    border-top: white 1px solid;
}

.about-carousel{
    display: flex;
    overflow: hidden;
    
}

.about-carousel-slide {
    min-width: 100%;
    min-height: 40vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-carousel-slide > p {
    width: 50%;
}

.about-carousel-btn-container {
    display: inline;
}

@media (max-width: 768px) {
    .about-carousel-btn-container {
        display: flex;
    }
}

.about-carousel-btn {
    color: white;
    cursor: pointer;
    background-color: transparent;
    cursor: default;
    border: 0px;
}

.about-carousel-btn > img {
    max-width: 20%;
    height: auto;
}

.about-carousel-btn > img:hover {
    opacity: 0.5;
    cursor: pointer;
}

/* Styles for eboard page */
.eboard-container {
    display: none;
    min-height: 100vh;
}

.eboard-officer-pic {
    width: 100%;
    height: auto;
}

.eboard-header {
    padding: 30px;
    text-align: left;
}

.eboard-header > h1{
    text-align: center;
    font-size: 60px;
    margin: 2%;
}

.eboard-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.eboard-grid-item {
    padding: 20px;
    background-color: #2b2b2b;
    margin: 2%;
}
.eboard-grid-item:hover {
    background-color: #3f3f3f;
}
.eboard-grid-item > img {
    width: 85%;
    height: auto;
    border: white 1px solid;
}

/* EBoard grid when viewed on smartphone */
@media (max-width: 768px) {
    .eboard-grid {
        display: flex;
        flex-direction: column;
    }
}

/* Styles for event page */
.events-container {
    display: none;
    min-height: 100vh;
}

.upcoming-events-container {
    flex: 1;
}

.past-events-container {
    flex: 1;
}

.weekly-events-container{
    flex: 0.5;
    font-size: 25px;   
}

/* Styles for join page */
.join-container {
    display: none;
    min-height: 60vh;
}

/* Styles for footer */
.footer-container {
    min-height: 20vh;
    display: flex;
    flex-direction: row;
    align-items:center;
}

.footer-text{
    flex: 0.5;
    text-align: left;
    margin-left: 100px;
}
.footer-text > p > a{
    color: white;
}
.footer-text > p > a:hover{
    opacity: 0.5;
    transition: 0.2s;
}
.footer-links {
    flex: 0.5;
}

.footer-links > div {
    display: inline-block;
    margin: 20px;
}

/* Footer container styles for smartphones */
@media (max-width: 768px) {
    .footer-container{
        flex-direction: column;
    }

    .footer-text {
        margin-left: 0px;
        text-align: center;
    }
}


span{
    position: absolute;
    left: 80%;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1), 0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 1)  ;
    animation:  shooting-star 3s linear infinite;
}
span::before{
    content: '';
    position: absolute;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg, #fa9999, transparent);
}
@keyframes shooting-star {
    0%
    {
        transform: rotate(0deg) translateX(0);
        opacity: 1;
    }
    70%
    {
        opacity: 1;

    }
    100%
    {
        transform: rotate(0deg) translateX(-150rem);
        opacity: 0;

    }
    
}

span:nth-child(1){
    right: 0;
    left:initial;
    animation-delay:0 ;
    animation-duration: 1.5s;
}
span:nth-child(2){
    right:0;
    left:initial;
    animation-delay:0 ;
    animation-duration: 2s;
}
span:nth-child(3){
    right:0;
    left:initial;
    animation-delay:0 ;
    animation-duration: 1.75s;
}
span:nth-child(4){
    right:0;
    left:initial;
    animation-delay:0 ;
    animation-duration: 2.5s;
}